@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    height: 100vh;
    background: url('../imagens/espaco.jpg') no-repeat center center fixed;
    background-size: cover;
}

section#astronauta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 508px;
    width: 500px;
    background: url('../imagens/astronauta.png') no-repeat;
}